---
import BaseLayout from "@layouts/BaseLayout.astro"
import IconButton from "@components/IconButton.astro";
import Button from "@components/Button.astro";
const response = await fetch('https://www.armcord.xyz/latest.json');
const data = await response.json();
const latestVersion = data.version;
import "@root/index.scss";
---

<BaseLayout>
  <div id="index">
  <img src="/logo.svg" alt="ArmCord Logo :O" />
  <div id="download-options">
    <Button name="Home" href="/" />
    <Button name="Download" href="/download" />
    <Button name="FAQ" href="/faq" />
  </div><br>
  <div id="download">
    <div>
      <IconButton vectorIcon="/platform-icons/windows.svg" name="Windows" href={`https://github.com/ArmCord/ArmCord/releases/download/v${latestVersion}/ArmCord.Setup.${latestVersion}.exe`} />
      <IconButton vectorIcon="/platform-icons/windows.svg" name="Windows on ARM" href={`https://github.com/ArmCord/ArmCord/releases/download/v${latestVersion}/ArmCord.Setup.${latestVersion}.ARM64.exe`} />
      <IconButton vectorIcon="/platform-icons/linux.svg" name="Linux" href="/download/linux" />
      <IconButton vectorIcon="/platform-icons/mac.svg" name="MacOS" href={`https://github.com/ArmCord/ArmCord/releases/download/v${latestVersion}/ArmCord-${latestVersion}.dmg`} />
    </div>
  </div>
  </div>
</BaseLayout>