---
import BaseLayout from "@layouts/BaseLayout.astro"
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
const version = "3.1.1"
import "@root/index.scss";
---

<BaseLayout>
  <div id="index">
  <img src="/logo.svg" alt="ArmCord Logo :O" />
  <div id="options">
    <Button name="Home" href="/" />
    <Button name="Download" href="/download" />
    <Button name="FAQ" href="/faq" />
  </div><br>
  <div id="download">
    <Card align="left">
      <h2 style="display: inline-block; transform: translateY(2px); padding-top: 16px; font-weight: normal; font-style: italic;">AMD64</h2>
      <Button name="DEB" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord_${version}_amd64.deb`} />
      <Button name="AppImage" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord-${version}.AppImage`} />
      <Button name="TAR" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord-${version}.tar.gz`} />
    </Card>
    <Card align="left">
      <h2 style="display: inline-block; transform: translateY(2px); padding-top: 16px; font-weight: normal; font-style: italic;">ARM64</h2>
      <Button name="DEB" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord_${version}_arm64.deb`} />
      <Button name="AppImage" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord-${version}-arm64.AppImage`} />
      <Button name="TAR" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord-${version}-arm64.tar.gz`} />
      <Button name="RPM" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord-${version}.aarch64.rpm`} />
    </Card>
    <Card align="left">
      <h2 style="display: inline-block; transform: translateY(2px); padding-top: 16px; font-weight: normal; font-style: italic;">ARM32</h2>
      <Button name="DEB" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord_${version}_armv7l.deb`} />
      <Button name="AppImage" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord-${version}-armv7l.AppImage`} />
      <Button name="TAR" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord-${version}-armv7l.tar.gz`} />
      <Button name="RPM" href={`https://github.com/ArmCord/ArmCord/releases/download/v${version}/ArmCord-${version}.armv7l.rpm`} />
    </Card>
  </div>
  </div>
</BaseLayout>